<app-navigation [pageTitle]='title'></app-navigation>

<div class="wrapper-center"> 
    <div class="wrapper-inner">
        
        <form novalidate
            (ngSubmit)="submit()"
            [formGroup]='loginForm'>

            <div>
                <mat-form-field>
                    <mat-label for="emailIdLogin">Email</mat-label>
                    <input matInput
                        type="text"
                        id="emailIdLogin"
                        formControlName='email'>
                        <mat-error *ngIf="loginForm.get('email').errors?.required">
                            Email is <strong>required</strong>
                          </mat-error>
                          <mat-error *ngIf="loginForm.get('email').errors?.email">
                             Enter a <strong>valid</strong> email
                            </mat-error>
                            <mat-error *ngIf="loginForm.get('email').errors?.wrongEmail">
                               No user with this email
                              </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label for="passwordIdLogin">Password</mat-label>
                    <input matInput
                            type="password"
                            id="passwordIdLogin"
                            formControlName='password'>
                            <mat-error *ngIf="loginForm.get('password').errors?.required">
                                Password is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="loginForm.get('password').errors?.passwordShort">
                                Password is <strong>too short</strong>
                            </mat-error>
                            <mat-error *ngIf="loginForm.get('password').errors?.passwordNotSafe">
                                Password is <strong>not safe</strong> include @ ,!
                            </mat-error>
                            <mat-error *ngIf="loginForm.get('password').errors?.wrongPassword">
                                Wrong password
                            </mat-error>
                </mat-form-field>
            </div>
            <div class="wrapper-center">
                
                <button mat-raised-button color="primary" [disabled]='!loginForm.valid'>{{button}}</button>
            </div>
            
        </form>
    </div>
</div>